.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #023047;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo a {
  display: flex;
  align-items: center;
}

.rvlogo {
  height: 80px;
  margin-right: 10px;
  filter:invert(1)
}

.sparklogo {
  height: 70px;
  margin-right: 10px;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  position: relative;
  margin: 0 15px;
}

.header nav ul li a,
.header nav ul li span {
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header nav ul li a:hover,
.header nav ul li span:hover {
  color: #c0c3c5;
  background-color: rgba(255, 255, 255, 0.04);
}

.header nav ul li:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #c0c3c5;
  transition: width 0.3s ease, left 0.3s ease;
}

.header nav ul li:hover:before {
  width: 100%;
  left: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #023047;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-bottom:30px;
  width: 150px;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  white-space: nowrap;
  color: white;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow {
  display: inline-block;
  margin-left: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header nav ul li {
    margin: 10px 0;
  }

  .dropdown-menu {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
  }
}
